@use '../../styles/config/color' as CS;
@use '../../styles/config/mixin' as MX;
@forward '../../styles/fonts/fonts';

@mixin BTNSetting {
	padding: 15px 80px;
	font-size: 19px;
	font-family: Gabriela;
	border-radius: 5px;
	border: none;
	color: CS.$ColorBrown;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 2px solid #fff;
	@media (max-width: 800px) {
		width: clamp(250px, 45vw, 350px);
		height: 55px;
		text-align: center;
	}
}

.header_home {
	background-color: CS.$ColorFonDark;
	padding: 0 20px;
	margin-top: 140px;
	border-radius: 0 0 15px 15px;
	position: relative;
	height: 83.4vh;
	min-width: 555px;
	@media (max-height: 850px) {
		height: 100%;
	}
	&_h1 {
		text-transform: uppercase;
		font-family: DaysOne;
		color: CS.$ColorFon;
		font-size: 15.3vw;
		position: absolute;
		text-align: center;
		left: 0;
		right: 0;
		z-index: 1;
		@media (max-width: 600px) {
			font-size: 85px;
		}
	}
	&_center {
		padding-top: 40vh;
		@media (max-width: 1450px) {
			padding-top: 20vw;
		}
		@media (max-height: 900px) {
			padding-top: 17vw;
		}
		@media (max-width: 600px) {
			padding-top: 100px;
		}
		&_text {
			font-family: Gabriela;
			h2 {
				font-size: clamp(22px, 3vw, 55px);
				color: #725b27;
				@media (max-height: 550px) and (max-width: 850px) {
					font-size: 18px;
				}
			}
			h3 {
				font-size: clamp(17px, 3vw, 40px);
				color: #8d5a1f;
				margin-top: 15px;
				margin-left: 40%;
				text-transform: uppercase;
				@media (max-width: 1300px) {
					margin-left: 32%;
				}
				@media (max-width: 1036px) {
					margin-left: 25%;
				}
				@media (max-height: 550px) and (max-width: 850px) {
					font-size: 18px;
					margin-top: 5px;
				}
			}
			p:nth-child(2n + 1) {
				font-size: clamp(17px, 3vw, 42px);
				color: #222;
				margin-top: 20px;
				@media (max-height: 550px) and (max-width: 850px) {
					font-size: 17px;
					margin-top: 10px;
				}
			}
			p:nth-child(2n + 2) {
				font-size: clamp(17px, 3vw, 32px);
				color: #70510e;
				margin-top: 50px;
				@media (max-width: 1140px) {
					max-width: 450px;
				}
				@media (max-width: 920px) {
					max-width: 300px;
				}
				@media (max-height: 550px) and (max-width: 850px) {
					font-size: 18px;
					margin-top: 10px;
				}
			}
		}
		&_img {
			position: absolute;
			z-index: 2;
			bottom: 0;
			right: 0;
			width: clamp(300px, 45vw, 590px);
			max-height: 100%;
			@media (max-height: 800px) and (min-width: 1000px) {
				width: auto;
			}
			@media (max-height: 700px) and (max-width: 1000px) {
				width: clamp(250px, 35vw, 390px);
			}
		}
	}
	&_Btn {
		position: absolute;
		bottom: 10px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		z-index: 3;
		@media (max-width: 800px) {
			justify-content: center;
			width: 100%;
			left: 0;
			right: 0;
		}
		@media (max-height: 850px) {
			position: relative;
			margin-top: 20px;
		}
		&--Order {
			display: inline-block;
			margin-right: 60px;
			background-color: #fff;
			@include BTNSetting();
			&:hover {
				background-color: CS.$ColorAccent;
			}
			@media (max-width: 800px) {
				margin-right: 10px;
			}
		}
		&--Calculator {
			@include MX.GlassBackground;
			@include BTNSetting();
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			column-gap: 20px;
			@media (max-width: 700px) {
				column-gap: 5px;
			}
			&:hover {
				background-color: CS.$ColorAccent;
			}
			span {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font-size: 22px;
			}
		}
	}
}

.services-home {
	margin-top: 100px;
	&-h1 {
		@include MX.TitleText;
	}
	&-content {
		background-color: #fff;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
		grid-template-rows: repeat(2, 1fr);
		gap: 10px;
		@media (max-width: 1290px) {
			grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
		}
		&-apartments {
			@include MX.SettingFonServices(
				'../../../public/img/poster/CleaningRooms.jpg'
			);
			grid-row: span 2;
			min-height: 700px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			&_items {
				@include MX.GlassBackgroundBlack;
				border-radius: 15px;
				width: 95%;
				height: max-content;
				padding: 20px;
				color: #fff;
				&--h2 {
					font-family: Gabriela;
					font-size: clamp(25px, 3.3vw, 33px);
					float: right;
					margin-right: 40px;
					color: CS.$ColorFon;
				}
				ul {
					margin: 60px 0 40px 0;
					font-size: clamp(18px, 1.8vw, 22px);
					li {
						margin: 10px 0;
					}
				}
				&--BTN {
					@include MX.SettingButtonServices(right);
				}
			}
		}
		&-topLeft {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
			gap: 10px;
			&-office {
				@include MX.SettingFonServices(
					'../../../public/img/poster/CleaningOffice.jpg'
				);
				min-height: 350px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&_items {
					@include MX.GlassBackgroundBlack;
					border-radius: 15px;
					width: 95%;
					height: 87%;
					padding: 20px;
					color: #fff;
					position: relative;
					&--h2 {
						font-family: Gabriela;
						font-size: clamp(25px, 3.3vw, 33px);
						text-align: center;
						color: CS.$ColorFon;
					}
					ul {
						margin: 10px 0 40px 0;
						font-size: clamp(18px, 1.8vw, 22px);
						li {
							margin: 10px 0;
						}
					}
					&--BTN {
						@include MX.SettingButtonServices(auto);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						border-radius: 5px 5px 15px 15px !important;
						text-align: center;
					}
				}
			}
			&-windows {
				@include MX.SettingFonServices(
					'../../../public/img/poster/CleaningWindows.jpg'
				);
				min-height: 350px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&_items {
					@include MX.GlassBackgroundBlack;
					border-radius: 15px;
					width: 95%;
					height: 87%;
					padding: 20px;
					color: #fff;
					position: relative;
					&--h2 {
						font-family: Gabriela;
						font-size: clamp(25px, 3.3vw, 33px);
						text-align: center;
						color: CS.$ColorFon;
					}
					ul {
						margin: 10px 0 40px 0;
						font-size: clamp(18px, 1.8vw, 22px);
						li {
							margin: 10px 0;
						}
					}
					&--BTN {
						@include MX.SettingButtonServices(auto);
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						border-radius: 5px 5px 15px 15px !important;
						text-align: center;
					}
				}
			}
		}
		&-cleaning {
			@include MX.SettingFonServices('../../../public/img/poster/Cleaning.jpg');
			min-height: 340px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			&_items {
				@include MX.GlassBackgroundBlack;
				border-radius: 15px;
				width: 95%;
				height: max-content;
				padding: 20px;
				color: #fff;
				h2 {
					font-family: Gabriela;
					font-size: clamp(25px, 3.3vw, 33px);
					float: right;
					margin-right: 40px;
				}
				ul {
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					flex-wrap: wrap;
					max-width: 300px;
					margin: 20px 0 20px 0;
					max-height: 130px;
					row-gap: 10px;
					li {
						font-size: clamp(18px, 1.8vw, 22px);
					}
				}
				button {
					@include MX.SettingButtonServices(right);
				}
			}
		}
	}
}

.advantages-home {
	margin-top: 100px;
	min-width: 555px;
	h1 {
		@include MX.TitleText;
		text-align: right;
	}
	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 50px;
		&--item-1 {
			@include MX.SettingBlockAdvantages(30px, auto, 90deg);
			&-number {
				@include MX.SettingNumberAdvantages(auto, 15%);
			}
		}
		&--item-2 {
			@include MX.SettingBlockAdvantages(auto, 30px, -90deg);
			&-text {
				float: right;
				margin-right: 10% !important;
			}
			&-number {
				@include MX.SettingNumberAdvantages(15%, auto);
			}
		}
		&--item-3 {
			@include MX.SettingBlockAdvantages(30px, auto, 90deg);
			&-number {
				@include MX.SettingNumberAdvantages(auto, 15%);
			}
		}
	}
}

.feedback-home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	min-width: 555px;
	h1 {
		@include MX.TitleText;
		font-size: clamp(25px, 3vw, 33px) !important;
		margin-bottom: 5px !important;
		@media (max-width: 550px) {
			text-align: center;
		}
	}
	h3 {
		font-size: clamp(20px, 2vw, 27px);
		color: #434343;
		@media (max-width: 550px) {
			text-align: center;
		}
	}
	&-content {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-top: 40px;
		&--img {
			width: clamp(250px, 30vw, 500px);
			@media (max-width: 800px) {
				display: none;
			}
		}
		&--forms {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 50px;
			max-width: 700px;
			&--name {
				position: relative;
				width: 100%;
				height: 60px;
				label {
					@include MX.SettingLabelFeedback;
				}
				input[type='text'] {
					@include MX.SettingInputFeedback;
				}
				@include MX.SettingLabelActiveFeedback;
			}
			&--tel {
				position: relative;
				width: 100%;
				height: 60px;
				label {
					@include MX.SettingLabelFeedback;
				}
				input[type='text'] {
					@include MX.SettingInputFeedback;
				}
				@include MX.SettingLabelActiveFeedback;
			}
			button {
				width: 100%;
				height: 50px;
				background-color: CS.$ColorAccent;
				color: CS.$ColorBrown;
				border-radius: 5px;
				font-size: 23px;
				transition: all 0.3s ease;
				&:hover {
					filter: brightness(90%);
					-webkit-filter: brightness(90%);
				}
			}
			p {
				font-size: clamp(14px, 1.5vw, 18px);
				margin-top: -30px;
				span {
					color: CS.$ColorAccent;
					cursor: pointer;
					transition: all 0.3s ease;
					&:hover {
						filter: brightness(90%);
						-webkit-filter: brightness(90%);
					}
				}
			}
		}
	}
}
