$ColorFon: #f2eadd;
$ColorFonDark: #363231;
$ColorFonDark_Transparency: #363231b3;
$ColorBrown: #604730;
$ColorBrownLithe: #a67447;
$ColorAccent: #dcb87a;
$ColorTransparency: transparent;
$ColorBlockMenu: #fff;
