@font-face {
	font-family: 'Gabriela';
	src: url('../../../public/fonts/Gabriela-Regular.ttf');
}
@font-face {
	font-family: 'DaysOne';
	src: url('../../../public/fonts/DaysOne-Regular.ttf');
}
@font-face {
	font-family: 'Unbounded';
	src: url('../../../public/fonts/Unbounded-VariableFont.ttf');
}
@font-face {
	font-family: 'Kurale';
	src: url('../../../public/fonts/Kurale-Regular.ttf');
}

@font-face {
	font-family: 'EmblemaOne';
	src: url('../../../public/fonts/EmblemaOne.ttf');
}

@font-face {
	font-family: 'PatuaOne';
	src: url('../../../public/fonts/PatuaOne.ttf');
}

@font-face {
	font-family: 'LuckiestGuy';
	src: url('../../../public/fonts/LuckiestGuy-Regular.ttf');
}
